@page "/auth/callback"
@using Blazored.LocalStorage
@using Project.Web.Responses
@using Project.Web.Services
@inject NavigationManager Nav
@inject ILocalStorageService localStorage
@inject LoginWebService AuthApi

<h3>Processando autenticação…</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        Uri? uri = Nav.ToAbsoluteUri(Nav.Uri);
        Console.WriteLine("URI completa: " + uri.ToString());

        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var code = query["code"];
        var state = query["state"];
        
        if (string.IsNullOrEmpty(code))
        {
            Console.WriteLine("Nenhum code encontrado");
            return;
        }

        var token = await AuthApi.ExchangeCodeForJwtAsync(code);

        await localStorage.RemoveItemAsync("jwt");
        await localStorage.SetItemAsync<OAuthResponse>("jwt", token);

        Nav.NavigateTo("/");
    }
}
