@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Olá @name,</h1>

Welcome to your new app.

@code {
    private string? name;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        name = user.FindFirst("name")?.Value ?? "usuário";
    }
}