@model UserRequest

@{
    ViewData["Title"] = "Sign Up";
}
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Index" method="post" class="form-signin">
    <input type="hidden" asp-for="AppSlug" />
    <h1 class="h3 mb-3">Sign Up</h1>

    <div class="form-floating">
      <input asp-for="Name" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">Name</label>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="form-floating mt-3">
      <input asp-for="Email" class="form-control" id="floatingInput" placeholder="">
      <label for="floatingInput">Email</label>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>
    <div class="form-floating mt-3">
      <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="checkbox mt-3 mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <a asp-controller="ResetPassword" class="w-100 btn btn-link btn-sm mt-2 fw-bolder">Forgot Password?</a>
    <hr/>
    <a asp-controller="Login" asp-route-appslug="@Model.AppSlug" class="w-100 btn btn-link text-success fw-bolder">Log In</a>
</form>
