@model AppResponse
@{
    ViewData["Title"] = "App delete";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">App - delete</h1>
  </div>
</nav>

<form asp-action="Delete" method="post">
  <input type="hidden" name="id" value="@Model.Id"/>
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Do you really want to delete the <b>@Model.Name</b> app?</label>
  </div>
  <a asp-action="Index" class="btn btn-light">Return</a>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>  
