@model PaginatedResponse<AppResponse>
@{
    ViewData["Title"] = "App";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand">App</h1>
    <div class="d-flex">
      <a href="#" class="btn btn-success">Add</a>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Items != null && Model.Items.Count > 0){
        @foreach(var item in Model.Items.OrderBy(o => o.Name))
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Status.GetDisplayName()</td>
                <td class="d-flex flex-row-reverse">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-primary">Profiles</a>
                        <a href="#" class="btn btn-primary">Permissions</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </td>
            </tr>
        }
    }else{
        <tr>
            <td colspan="3">No records found!</td>
        </tr>
    }
  </tbody>
</table>