@using Family.Accounts.Login.Web.Helpers

@if(Context.IsErrorResponse()){
    <div id="modal-redirect-error-response" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content border-danger">
                <div class="modal-header bd-danger text-white">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@Context.GetErrorResponse()</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#modal-redirect-error-response').modal('show');
        });
    </script>
}
