@using Family.Accounts.Management.Web.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Accounts management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Family.Accounts.Management.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Accounts management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if(User.IsInRole(RoleConstants.AppRole.List))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="App" asp-action="Index">App</a>
                            </li>
                        }
                        @if(User.IsInRole(RoleConstants.UserRole.List))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Index">User</a>
                            </li>
                        }
                        @if(User.IsInRole(RoleConstants.ClientRole.List))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Client" asp-action="Index">Client</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Antony Reis
                            </a>
                            <ul class="dropdown-menu" style="left:-40px">
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Exit</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
                
        @if(Context.IsMessageSuccess()){
            <div class="alert alert-success alert-dismissible" role="alert">
                <div>@Context.GetMessageSuccess()</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
            
        @if(Context.IsMessageError()){
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div>@Context.GetMessageError()</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Family.Accounts.Management.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
