@model UserUpdateRequest
@{
    ViewData["Title"] = "User edit";
}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand fs-3">User - edit</h1>
  </div>
</nav>

<form asp-action="Edit" method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="mb-3">
    <label asp-for="Name" class="form-label">Name</label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input asp-for="Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="form-label">Password (optional)</label>
    <input asp-for="Password" type="password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <a asp-action="Index" class="btn btn-light">Return</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
