@model UserUpdateViewModel
@{
  Layout = "_LayoutHome";
    ViewData["Title"] = "User update";
}
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Index" method="post" class="form-signin" enctype="multipart/form-data">
    <h5 class="mb-3">User Update</h5>
    <div class="form-floating">
      <input asp-for="Name" class="form-control" id="floatingInput" placeholder="">
      <label>Name</label>
    </div>    
    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="form-floating mt-3">
      <input asp-for="Email" class="form-control" id="floatingInput" placeholder="">
      <label>Email</label>
    </div>    
    <span asp-validation-for="Email" class="text-danger"></span>
    <div class="form-floating mt-3">
      <input asp-for="Image" type="file" class="form-control" style="opacity: 0;" id="imageInput" accept="image/*">
      <label for="imageInput" class="d-block" style="padding: 0;padding-top: 15px;">
        <button type="button" class="btn btn-secondary w-100" onclick="document.getElementById('imageInput').click();">
          Upload profile picture
        </button>
      </label>
    </div>
    <span asp-validation-for="Image" class="text-danger"></span>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Salvar</button>
    <a asp-controller="Home" asp-action="Index" class="w-100 btn btn-link btn-sm">Home</a>
</form>
<script>
  // Opcional: mostrar nome do arquivo selecionado
  document.getElementById('imageInput').addEventListener('change', function(e) {
    if (e.target.files.length > 0) {
      e.target.nextElementSibling.innerText = e.target.files[0].name;
    }
  });
</script>
