<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project.Sync </title>
      <link rel="icon" type="image/x-icon" href="~/imgs/favicon_io/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Accounts.Login.Web.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
</head>
<body class="text-center">
    <main class="container mt-4">
        <div>
            <img src="~/imgs/logo-project-sync.png" alt="" style="max-width: 150px;">
            <hr/>
            <div>
                @RenderBody()
            </div>
            <footer>

                <p class="mt-5 mb-3 text-muted">© 2024–2025</p>
            </footer>
        </div>
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ModalSuccessResponse")
    @await Html.PartialAsync("_ModalErrorResponse")
</body>
</html>
