@using Accounts.Login.Web.Helpers

@if(Context.IsSuccessResponse()){
    <div id="modal-redirect-success-response" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content border-success">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@Context.GetSuccessResponse()</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#modal-redirect-success-response').modal('show');
        });
    </script>
}
