@model HomeViewModel

@{
    ViewData["Title"] = "Log In";
    Layout = "_LayoutHome";
}
<div class="container">
    <h5 class="mb-3">Applications</h5>
    <div class="row">
        @foreach (var app in Model.Apps)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="app-image" style="height:140px;background-image:url('@app.FaviconUrl');background-size:contain;background-repeat:no-repeat;background-position:center;border-radius:8px 8px 0 0;">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">@app.Name</h6>
                        <a asp-controller="Login" asp-action="Index" asp-route-appSlug="@app.Slug" class="btn btn-outline-primary btn-sm w-100">Acessar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
