@{
    ViewData["Title"] = "Log In";
}

<h3>Olá, @User.GetName()</h3>
<p><a class="btn btn-link" href="@Url.Action("Update", "User")">Update</a></p>
<hr/>
<p><a href="@Url.Action("Logout", "Logout")">Logout</a></p>
